v1 = params["v1"]
{:ok, pid} = Circuits.UART.start_link
Circuits.UART.open(pid, "/dev/ttyACM0", speed: 9600, active: false)
Circuits.UART.write(pid, v1)
#msg = Circuits.UART.read(pid, 1000)
msg = "test"
{:ok, msg }
